$bgHeader: #0b0c10;
$bgFooter: #15161a;
$bgContent: #2a2d36;

$bgHtmlLogo: #303030;

$footerUnHover: #26292e;

$orange: #fe9e23;
$orangeDark: #cd7300;

$borderGray: #aeafb0;
$textGray: #a2a8b6;

$squareSide: 7.1875rem;
$lineWidth: 3.5rem;
