<app-header [showCredentials]="areCredentialsVisible"></app-header>

<main class="main">
  <h1 class="main__title">
    Nagłówek H1
    <hr class="main__title__divider" />
  </h1>

  <div class="main__content">
    <div class="main__content__section">
      <span class="main__content__section__title">BLOK PIERWSZY</span>

      <app-radio-button-list
        [options]="radioOptions"
        [initialValue]="pickedOption"
        (selectionChange)="radioSelectionChange($event)"
      ></app-radio-button-list>
    </div>

    <div class="main__content__section">
      <span class="main__content__section__title">BLOK DRUGI</span>

      <div class="main__content__section__buttons">
        <button (click)="swapArticles()">ZASTĄP</button>

        <button (click)="pushArticle()">DOKLEJ</button>
      </div>
    </div>

    <div class="main__content__section">
      <span class="main__content__section__title">
        BLOK Z DŁUGĄ NAZWĄ KTÓRA SAMA SIĘ PRZYTNIE GDY NIE BĘDZIE WYSTARCZAJĄCO
        MIEJSCA
      </span>

      @for(article of articles; track article.id) {
      <article class="main__content__section__article">
        {{ article.text }}
      </article>
      }
    </div>
  </div>
</main>

<app-footer
  (showCredentials)="showCredentials()"
  (clearSettings)="clearSettings()"
></app-footer>

<router-outlet />
